{% extends 'layout.html.twig' %}

{% block title %}
    Les annonces
{% endblock %}

{% block content %}

        <header id="head" class="secondary"></header>
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li class="active">Categorie</li>
            </ol>

    {% for annonce in annonces %}
        
            <div class="row">
                <article class="col-md-12 center-block maincontent">
                    <header class="page-header">
                        <h1 class="page-title">Annonces</h1>
                    </header>
                                <h4>{{ annonce.titre }}</h4>
                                <img src="{{ asset('images/annonces/' ~ annonce.featuredImage) }}">
                                <div>{{ annonce.contenu | raw }}</div>
                                <div>{{ annonce.membre.prenom ~ ' ' ~ annonce.membre.nom }}</div>
                                <span>
                                {{ annonce.dateCreation | date('d/m/Y') }}
                             </span>
                        </div>
                </article>
            </div>
        </div>

    {% endfor %}

{% endblock %}


