{% extends "base.html.twig" %}

{% set categories = categorie_repository.findAll() %}

{% block stylesheets %}
    <link rel="shortcut icon" href="{{ asset ('images/') }}">

    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="{{ asset ('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset ('css/bootstrap-theme.css') }}" media="screen" >
    <link rel="stylesheet" href="{{ asset ('css/main.css') }}">

    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js'"></script>
{% endblock %}

{% block body %}

    <!--preload-->
    <div class="loader" id="page-loader">
        <div class="loading-wrapper"></div>
    </div>

    {% include 'components/_nav.html.twig' %}

    {% block content '' %}

    {% include 'components/_footer.html.twig' %}

{% endblock %}

{% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ asset ('js/headroom.min.js') }}"></script>
    <script src="{{ asset ('js/jQuery.headroom.min.js') }}"></script>
    <script src="{{ asset ('js/template.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeSi7ZOwDBTv6dcjAyB4n4LZx4dCpnYfc&callback=initMap" async defer></script>
{% endblock %}
