<div class="navbar navbar-inverse navbar-fixed-top headroom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('images/annonces/logo1.png') }}" id="img" width="30%"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a href="{{ path('home') }}">Accueil</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nos Annonces<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for cat in categories %}
                            <li><a href="{{ path('front_categorie', {
                                    slug : cat.slug
                                }) }}">{{ cat.nom }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{{ path('page_contact') }}">Contact</a></li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a class="btn" href="{{ path('annonce_new') }}">D&Eacute;POSER UNE ANNONCE</a></li>
                    <li><a class="btn" href="{{ path('security_deconnexion') }}">Deconnexion</a></li>
                {% else %}
                    <li><a class="btn" href="{{ path('membre_inscription') }}">INSCRIPTION / CONNEXION</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>